/* table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
} */

table {
    /* width: 100%; */
    /* table-layout: fixed; */
}

#img1 {
    border-radius: 10%;
}

#img2 {
    border-radius: 10%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

tr:nth-child() {
    background-color: #A34BD4;
}

body>table>tbody>tr:nth-child(2)>td:nth-child(3)>a>img {
    border-radius: 20%;
}

#googleLogo {
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
}

#googleLogo:hover {
    -webkit-animation: rotation 0.6s infinite linear;
    /* transform: translateZ( -50px) rotateY(-250deg); */
}

#cmuLogo:hover {
    -webkit-animation: rotation 0.6s infinite linear;
}

#camtLogo:hover {
    outline: 3px solid green;
    transform: scale(2);
}

[target=_blank] {
    text-decoration: line-through;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}